# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
env/

# Logs / misc
*.log
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.code-workspace

# Env files / secrets
.env
.env.*
